<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Bias.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>GenTransData.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6AA3F4391A83BDD60015627A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6AA3F4491A83BDD60015627A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6AA4961E1A965DD300F7B2B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6AA4962D1A965DD300F7B2B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
